<nav class="nav flex-column">
    <a class="nav-link" href="/registerExam">試験情報登録</a>
    <a class="nav-link" href="/createPlan">学習予定登録</a>
    <a class="nav-link" href="/createRecord">学習実績登録</a>
    <a class="nav-link" href="#">模試結果登録</a>
    <a class="nav-link" href="#">試験結果登録</a>
</nav>
